body {
    background-color: #212121; /* dark background */
}

#big-blue-button {
    position: absolute; /* center the button */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; /* hollow background */
    color: #FFFFFF; /* white text */
    padding: 100px 100px;
    border: 2.5px solid #2196F3; /* blue border */
    border-radius: 125px;
    cursor: pointer;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif; /* cyber-like font */
}

#big-blue-button:hover {
    border-color: #1976D2; /* darker blue border on hover */
}
